* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f7fc;
}

/* Login & Register */

.auth-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-box {
    background: white;
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
    text-align: center;
}

.auth-box h1 {
    color: #2c3e50;
    margin-bottom: 10px;
}

.auth-box h2 {
    margin-bottom: 20px;
}

.auth-box input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.auth-box button {
    width: 100%;
    padding: 12px;
    background: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.auth-box button:hover {
    background: #2980b9;
}

.auth-box p {
    margin-top: 15px;
}

/* Home Page */

.container {
    width: 90%;
    max-width: 900px;
    margin: 30px auto;
}

.header {
    background: #2c3e50;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.header h1 {
    margin-bottom: 10px;
}

.logout-btn {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    background: crimson;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}

.interview-box {
    background: white;
    margin-top: 20px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
}

.interview-box h2 {
    margin-bottom: 20px;
}

.question {
    margin-bottom: 20px;
}

.question label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

.question textarea {
    width: 100%;
    padding: 10px;
    resize: vertical;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    background: green;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.submit-btn:hover {
    background: darkgreen;
}

/* Result Page */

.result-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-box {
    background: white;
    padding: 40px;
    width: 500px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
}

.result-box h1 {
    margin-bottom: 15px;
}

.result-box h2 {
    color: #3498db;
    margin-bottom: 20px;
}

.excellent {
    color: green;
    font-weight: bold;
    font-size: 18px;
}

.good {
    color: orange;
    font-weight: bold;
    font-size: 18px;
}

.needs-improvement {
    color: red;
    font-weight: bold;
    font-size: 18px;
}

.home-btn {
    display: inline-block;
    margin-top: 25px;
    text-decoration: none;
    background: #3498db;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
}

.home-btn:hover {
    background: #2980b9;
}